@{
    ViewData["Title"] = "Home Page - Changed for a Pull Request - 7th February 2019";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core @DateTime.Now</a>.</p>
    <p>Added a new change to associate with a Work Item 1</p>
</div>
